.ext-readme-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.ext-readme {
  flex: 1 0 20rem;
  padding: 8px;
  border: 1px solid silver;
  overflow-y: scroll;
}

.ext-readme.loading {
  opacity: 0.25;
}

.CRM_Admin_Form_Extensions {
  flex: 1 0 20rem;
  overflow-wrap: anywhere;
}

.crm-container table.crm-info-panel td.label {
  display: block;
}
